@tailwind base;
@tailwind components;
@tailwind utilities;

* { box-sizing: border-box; }
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font-family/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}



body {
    margin: 0;
  font-family: 'Montserrat', sans-serif !important; /* ← !important pour écraser Bootstrap */
}